<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario reserva</title>
    <link rel="stylesheet" type="text/css" href="../CSS/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="pagina1_css.html">Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Registrar usuario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#" >Consultar vuelos/Reservar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ver reservas realizadas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Eliminar reservas realizadas</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid text-center cabecera">
        <header>
            <br>
            <h1>Formulario de registro de reserva</h1>
            <br>
        </header>
    </div>



    <section class="container-fluid formulario">
        <fieldset>
            <div class="container-fluid text-center">
                <legend>
                    Datos del vuelo
                </legend>
            </div>

            <div class="container text-center mb-3">
              <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="origen" class="form-label">Origen</label>
                    <select name="origen" id="origen" class="form-select" disabled>
                        <option value="1">Córdoba</option>
                        <option value="2">Mendoza</option>
                        <option value="3">Tucumán</option>
                    </select>
                </div>

                <div class="col-md-6 mb-3">
                    <label for="destino" class="form-label">Destino</label>
                    <select name="destino" id="destino" class="form-select" disabled>
                        <option value="1">Córdoba</option>
                        <option value="2">Mendoza</option>
                        <option value="3">Tucumán</option>
                    </select>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="fecha_vuelo" class="form-label">Fecha de vuelo</label>
                    <input type="date" name="fecha_vuelo" id="fecha_vuelo" class="form-select" disabled>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Hora de vuelo: </label>
                </div>
              </div>
            </div>


        </fieldset>

    </section>


    <section class="container-fluid formulario">

        <form action="pagina1_css.html" method="post">
            <section>
                <fieldset>
                    <div class="container-fluid text-center">
                        <legend>
                            Detalles del vuelo
                        </legend>
                    </div>

                    <div class="container text-center mb-3">
                      <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="clase" class="form-label">Selección de clase</label>
                            <select name="clase" id="clase" class="form-select">
                                <option value="1">Económica</option>
                                <option value="2">Ejecutiva</option>
                            </select>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="cantidad_pasajes" class="form-label">Cantidad de pasajes</label>
                            <input type="number" name="cantidad_pasajes" id="cantidad_pasajes" class="form-control" required min="1" max="50">

                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="ubicacion" class="form-label">Ubicación</label>
                            <select name="ubicacion" id="ubicacion" class="form-select" >
                                <option value="1">Pasillo</option>
                                <option value="2">Centro</option>
                                <option value="3">Ventanilla</option>
                            </select>

                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="nro_silla" class="form-label">Número de asiento</label>
                            <input type="number" name="nro_silla" id="nro_silla" class="form-control" min="1" max="50">
                        </div>
                      </div>
                    </div>

                </fieldset>
            </section><br>

            <section>
                <fieldset>
                    <div class="container-fluid text-center">
                        <legend>
                            Información personal
                        </legend>
                    </div>

                    <div class="container text-center mb-3">
                      <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="apellido_nombre" class="form-label">Apellido y nombre: </label>
                            <input type="text" name="apellido_nombre" id="apellido_nombre" class="form-control" required pattern="[A-Za-z\s]+" maxlength="100">
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="dni" class="form-label">DNI: </label>
                            <input type="text" name="dni" id="dni" class="form-control" required pattern="\d{8}" minlength="8" maxlength="8">

                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="fecha_nac" class="form-label">Fecha de nacimiento: </label>
                            <input type="date" name="fecha_nac" id="fecha_nac" class="form-control" required>

                        </div>
                        <div class="col-md-6 mb-3">

                            <label class="form-label col-1">Sexo</label>

                            <div class="col-1 form-check">
                                <input type="radio" name="sexo" id="femenino" class="form-check-input" value="femenino">
                                <label for="femenino" class="form-check-label">Femenino  </label>
                            </div>

                            <div class="col-1 form-check">
                                <input type="radio" name="sexo" id="masculino" class="form-check-input" value="masculino">
                                <label for="masculino" class="form-check-label">Masculino</label>
                            </div>

                        </div>
                      </div>
                    </div>

                </fieldset>
            </section>

            <div class="container text-center mb-3">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <input type="submit" id="btn_aceptar" class="btn" value="ACEPTAR">
                    </div>

                    <div class="col-md-6 mb-3">
                        <input type="reset" id="btn_cancelar" class="btn" value="CANCELAR">

                    </div>
                </div>
            </div>

        </form>
        <br>

    </section>

    <footer class="text-center py-3 mt-0 mb-0">Sitio Oficial de Compañía Argentina-2024</footer>

</body>
</html>